<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTest"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_gm" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PantallaMapaMonitoreo" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".loadkml" android:exported="false" />
        <activity android:name=".pantalla_estadisticas" android:exported="false" />
        <activity android:name=".pantalla_monitoreos" android:exported="false" />
        <activity android:name=".pantalla_mapas" android:exported="false" />
        <activity android:name=".Pantalla_registroeventos" android:exported="false" />
        <activity android:name=".Pantalla_registromapa" android:exported="false" />
        <activity android:name=".pantalla_implementoplagas" android:exported="false" />
        <activity android:name=".pantalla_plagaslechuga" android:exported="false" />
        <activity android:name=".pantalla_plagasberries" android:exported="false" />
        <activity android:name=".pantalla_plagasmaiz" android:exported="false" />
        <activity android:name=".pantalla_plagasagave" android:exported="false" />
        <activity android:name=".pantalla_plagastrigo" android:exported="false" />
        <activity android:name=".pantalla_plagassorgo" android:exported="false" />


        <receiver android:name=".CloseAppReceiver" />
    </application>

</manifest>